<section>
    <div class="container-fluid">
        <table id="table">
            <thead>
                <th>#</th>
                <th>name</th>
                <th>Last</th>
                <th>Buy/Sell Price</th>
                <th>volume</th>
                <th>base_unit</th>
            </thead>
            <table class="table2">
                {{#each c}}
                <tr>
                    <td class="cell1">{{this.slno}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.last}}</td>
                    <td>{{this.buy}}/{{this.sell}}</td>
                    <td>{{this.volume}}</td>
                    <td>{{this.base_unit}}</td>
                </tr>
                {{/each}}
            </table>
        </table>
    </div>
</section>